{% extends 'tickets/base.html' %}
{% block title %}
Ticket - Home
{% endblock title %}
{% block content %}
    <a href="{% url 'ticket-create' %}" class="btn btn-primary">Add</a>
    <table class="table-bordered m-3">
        <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Created by</th>
            <th>Assigned to</th>
            <th>Due</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td><a href={% url 'ticket-detail' object.id %}>{{ object.title }}</a></td>
                <td>
                    {{ object.status }}
                </td>
                <td>
                    {{ object.created_by }}
                </td>
                <td>
                    {% for person in object.assigned_to.all %}
                    {{ person }}
                    {% endfor %}
                </td>
                <td> {{ object.date_due }} </td>
                <td><btn class="btn btn-primary">Done</btn></td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}